@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(17, 17, 17);
}

h1 {
  text-align: center;
  padding-top: 3rem;
  font-size: 5rem;
  color: rgb(246, 0, 0);
  text-shadow: 1px 1px yellow;
}

h3 {
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
  color: rgba(239, 239, 0, 0.992);
  text-shadow: 1px 1px red;
}

.fireballContainer {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

#fireball {
  width: 10%;
  height: 10%;
  animation: rotate 20s linear infinite;
}

#fireball:hover {
  animation: rotate 0.6s linear infinite;
}

#main-game-area {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 2rem;
}

#start-button {
  font-size: 1.8rem;
}

#combatButtonDiv {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.game-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  color: rgba(239, 239, 0, 0.992);
  text-shadow: 1px 1px red;
}

#fight-button {
  margin-bottom: 3rem;
  width: 12rem;
}

#reload-button {
  margin-top: 3rem;
}

.button {
  width: 10rem;
  height: 3rem;
  font-size: 1.6rem;
  border: groove 7px rgb(222, 0, 0);
  background-color: black;
  color: rgb(252, 0, 0);
  text-shadow: 1px 1px rgb(88, 88, 88);
}

.button:hover {
  box-shadow: 0px 0px 20px red;
}

